.container
  - if flash.now[:alert]
    %p.notice-message
      = render 'layouts/notifications'



  - if @items.present?
    - @items.each do |i|
      .course
        .course-header 
          %h3
            = i.golf_course_name
        .course-detail      
          .course-detail-image
            = image_tag "#{i['golfCourseImageUrl']}", alt: '', class: 'thumbnail'
            -# =  "#{i['golfCourseImageUrl']}"
          .course-detail-text
            .course-detail-text-address
              住所：
              = i.address
            .course-detail-text-link
              = link_to "コースレイアウト", "https://booking.gora.golf.rakuten.co.jp/guide/layout_disp/c_id/#{i['golfCourseId']}", class: "btn btn-primary"
              = link_to "天気予報", "https://booking.gora.golf.rakuten.co.jp/weather/disp/c_id/#{i['golfCourseId']}", class: "btn btn-primary"
  - else
    .explanation
      %h3
        キーワードからゴルフコース検索します。
      %p
        コース名、都道府県、など
    
    


              
